.nav-bar {
	position: relative;
}

.main-container {
	width: 80%;
	height: 90%;
	margin: auto;
	overflow: auto;
}

.main-container::-webkit-scrollbar { width: 0 !important }

.header {
	width: 100%;
}

.header-container {
	padding-top: 20px;
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
}

.recommended, .recommended-container {
	width: 100%;
}

.recommended-type {
	font-size: 30px;
}
