.main-container {
	width: 100%;
	height: 100%;
}

.filter-panel {
	width: 400px;
	height: 100%;
	background: #690000;
	overflow: hidden;
}

.filters {
	width: 100%;
	height: 100%;
	padding-top: 50%;
	overflow: hidden;
}

.filter-header {
	padding-left: 20px;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.filter-header>img {
	width: 30px;
	height: 30px;
	transform: translateY(5px);
	margin-right: 10px;
}

.filters-container {
	width: 100%;
	height: 100%;
	border-top: solid 2px white;
	overflow: hidden;
	padding-top: 20px;
	padding-left: 45px;
}

.filters-container>label {
	font-size: 20px;
}

.filters-container>div {
	margin-top: 10px;
}

.filter-list {
	margin-left: 20px;
}
